*{
    box-sizing: border-box;
}
body{
    background: url(../assets/images/darkness.png);
    
}

/*********************
        Header
**********************/
.nav-menu-items{
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        color: black;
}
.nav-menu-items:hover{
        font-size: 24px;
        font-weight: 500;
}
.v-bar{
        padding-right:5px;
        border-right: solid 1px black;
}
/*********************
        Footer
**********************/
.footer-items{
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        color: black;
}
.git:hover{
        font-size: 24px;
        font-weight: 500;
}
/*********************
        About me
**********************/
.page-title{
        font-family: 'Lato', sans-serif;
        font-weight: 900;
}
.profile-pic{
        width: 250px;
        height: 250px;
}
.about-content p{
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        padding: 0;
}

/* ********************
        Portfolio
**********************/
.project-image{
        width: 300px;
        height: 200px;
}
.project-box{
        position: relative;
}
.project-title{
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        color: black;
        background-color: #cccccc;
        height: 40px;
        width: 300px;
        position: relative;
        bottom: 60px;  
}
.project-title:hover{
        height: 50px;
        color: black;
        font-size: 25px;
        font-weight: 500;
}
.project-rows{
        max-width: 700px;
}