*{
    box-sizing: border-box;
}
body{
    background: url(../assets/images/darkness.png);
    
}

/*********************
        Header
**********************/
.nav-menu-items{
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        color: black;
}
.nav-menu-items:hover{
        font-size: 24px;
        font-weight: 500;
}
.v-bar{
        padding-right:5px;
        border-right: solid 1px black;
}
/*********************
        Footer
**********************/
.footer-items{
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        color: black;
}
.git:hover{
        font-size: 24px;
        font-weight: 500;
}

/*********************
        About me
**********************/


/*********************
        contact
**********************/


/* ********************
        Portfolio
**********************/